@import url('https://fonts.googleapis.com/css?family=Roboto');


.blog .blog-thumbnail {
    background-size: cover;
    background-position: center center;
    min-height: 300px;
    
  }
 
.cl{
    border:solid;
    border-width: 1px;
    border-color: rgb(190, 185, 202);
  }

.cl:hover {
    border-color:rgb(190, 185, 202);
}
  
  .blog {
    background-color:rgb(255, 255, 255); 
  }

  .fas {
      cursor: pointer;
  }


.input-group {
    width:40%;
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid rgb(162, 162, 162);
    padding: 10px;
  }


  .progress-bar {
    width: 0;
    animation: progress 1.5s ease-in-out forwards;
    
    
  } 

  .progress-bar .title {
    opacity: 0;
    animation: show 0.35s forwards ease-in-out 0.5s;
  }
  
  @keyframes progress {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  } 
  @keyframes show  {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  